/********************************
 * div#bd 
 *******************************/

/* nav */
#nav{
    margin: 0px 0px 0px 0px;
    padding: 2px 2px 2px 2px;
    background-color: #EBF4FA;
}
/* end of nav */

/*tag-clouds*/
.tag-clouds {
    margin:3px;
}
.tag-clouds h2 {
    font-size: 108%;
    font-weight: bold;
    color:#000000;
    text-align:center;
}
.tag-clouds ul li {
    font-size: 100%;
    padding 3px 3px 3px 3px;
}
.tag-image {
    position: relative;
    top:4px;
}
/* end of tag-clouds */

/* main-content */
.main-content{
    padding: 0px 0px 0px 0px;
}
/* end of main-content */

/* link-info */
#link-info{
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid #dcdcdc;
    background-color: #EBF4FA;
}
#link-info .link-label{
    display: block;
    font-weight: bold;
}
#link-info .link-title{
    display: block;
    font-size: 123.1%;
    font-weight: bold;
    padding-left:10px;
    padding-top:3px;
}
#link-info .link-url{
    display: block;
    color:#006400;
    padding-left:10px;
}
/* end of link-info */

/* content-head */
#content-head{
    position: relative;
    height: 28px;
    border-bottom: 1px solid #dcdcdc;
    color: #0A396F;
    margin: 0px 0px 0px 0px;
    background-color: #EBF4FA;
}
/* end of content-head */

/* position-navigator */
div#position-navigator{
    font-size: 116%;
    margin: 3px 5px 0px 3px;
    position: absolute;
    left: 0;
    top: 0;
}
div#position-navigator a {
    font-size: 123.1%;
    font-weight: bold;
}
div#position-navigator span {
    font-size: 123.1%;
    font-weight: bold;
}
/* end of position-navigator */

/* sort-menu */
#sort-menu {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    font-size: 116%;
    margin: 5px 5px 0px 5px;
}
#sort-menu span {
   font-weight: bold;
}

#sort-menu a {
   font-weight: normal;
}
/* end of sort-menu */


/* paginator */
.paginator {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size:108%;
    text-align:center;
}
span.page {
    padding: 3.6px 6px 3.6px 6px;
}
a.page {
    border: 1px solid #999999;
    padding: 3.6px 6px 3.6px 6px;
}
/* end of paginator */

/* total-bookmarks */
.total-bookmarks {
    font-size: 108%;
    text-align:center;
    color: #3d3d3d;
}
/* end of total-bookmarks */

/* bookmark */
.bookmark { 
    border-bottom: 1px dashed #C0C0C0;
    padding: 5px 5px 5px 5px;
    margin:  7px 7px 7px 7px;
}
/* end of bookmark */

/* bookmark-head */
/* end of bookmark-head */

/* bookmark-title */
.bookmark-title {
    font-size: 108%;
}
/* end of bookmark-title */

/* bookmark-count */
.boomark-count-popular {
    color:#FFFFFF;
    background-color:#4682B4;
    padding: 1px 2px 1px 2px;
}
.bookmark-count-popular:hover {
    text-decoration: underline;
    color: #ffffff;
    background-color: #4169e1;
    padding: 1px 2px 1px 2px;
}
.bookmark-count { 
    color:#A9A9A9;
    background-color: #e5ecf9;
    padding: 1px 2px 1px 2px;
}
.bookmark-count:hover {
    text-decoration: underline;
    color: #ffffff;
    background-color: #4169e1;
    padding: 1px 2px 1px 2px;
}
/* end of bookmark-count */

/* detail */
.detail { 
    color:#948B6E;
}
/* end of detail */
/* url */
.url { 
    color:#006400;
}
/* end of url */

/* command */
.command { 
    color:#6495ED;
}
/* end of command */

/* tag */
.tag { 
    padding: 1px 1px 1px 1px;
    text-decoration: underline;
}
a.tag:hover {
    color: #ffffff;
    background-color: #4169e1;
}
/* end of tag */

/* user */
a.user{
    text-decoration: underline;
    font-weight:bold;
    padding: 1px 2px 1px 2px;
}
a.user:hover {
    color: #ffffff;
    background-color: #4169e1;
}
/* end of user */

/* note */
.note{
    margin: 10px 10px 5px 10px;
}

.note-more{
    text-decoration: underline;
}
/* end of note */
