/* common */
* {
    font-family: Geneva, Tahoma, Verdana Arial, Helvetica, sans-serif;
}

a {
    color: #3B5998;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html, body {
    background-color: #f5f5f5;
}
/* end of common */

/* layout */
.doc {
}

#hd {
    position: relative;
    background-color: transparent;
    padding-bottom: 5px;
    background-image: url(/site_media/images/hd_bg.gif);
    height:51px;
    padding-bottom:0px;
}

#bd {
    background-color: #FAFAFA;
    padding-bottom: 20px;
}

#ft {
    padding-top: 20px;
}
/* end of layout */

/********************************
 * div#hd 
 *******************************/

/* logo-img */
#logo-img {
    padding: 5px 0px 0px 10px;
}
/* end fo logo-img */

/* user-menu */
#user-menu {
    position: absolute;
    top:   0;
    right: 0;
    padding: 4px 5px;
    text-align: right;
    font-size: 100%;
    color: #FFFFFF;
}
#user-menu a {
    color: #FFFFFF;
}
/* end of user-menu */

/* title */
#title {
    font-size: 138.5%;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top:-12px;
}
#title a{
    color: #FFFFFF;
}
/* end of title */

/* styles for forms */

.form-field{
}
.form-field-label{
    padding: 2px 3px 2px 3px;
    text-align: right;
    vertical-align: top;
    font-weight:bold;
}
.form-field-value{
    text-align: left;
    padding: 2px 3px 2px 3px;
}
.form-field-value input{
    width:300px;
}
.form-field-value textarea{
    width:300px;
}
.errorlist {
    color: #ff0000;
}
.form-submit{
}
.form-submit-label{
}
.form-submit-value{
    padding: 7px 3px 2px 3px;
    text-align: left;
}
.form-submit-value input{
    font-size:108%;
    font-weight:bold;
    text-align:center;
}
