#bd{
    height:450px;
}
#content-head{
    height: 35px;
    border-bottom: 1px solid #dcdcdc;
    background-color: #FAFAFA;
}
#content-head h1{
    padding-top:8px;
    color: #000000;
    font-size: 123.1%;
    font-weight:bold;
}
form {
    padding: 40px 20px 20px 40px;
}
#content-body{
    padding: 100px 20px 100px 20px;
    font-size: 138.5%;
}

#thank-you{
    margin-bottom: 40px;
}

a#link-to-home{
    text-decoration:underline;
}
