{% extends "contact/contact_base.html"%}
{% load i18n %}
{% block content %}
  <div id="content-head"><h1>Questions or Comments?</h1></div>
    <!-- form -->
    <form action="/contact/" method="POST">
      <table>
        {% for field in form %}
        <tr class="form-field">
          <td class="form-field-label">{{ field.label_tag }}:</td>
          <td class="form-field-value">
            {{ field.errors }}
            {{field}}
          </td>
        </tr>
        {% endfor %}
        <tr class="form-submit">
          <td class="form-submit-label"></td>
          <td class="form-submit-value">
            <input type="submit" value="Send Message" />
          </td>
        </tr>
      </table>
    </form>
    <!-- end of form -->
  </div>
{% endblock %}
