{% extends "base_type2.html" %}
{% load i18n %}

{% block title %}{% trans "Login on you29" %}{% endblock %}

{% block content %}
  <div id="content-head"><h1>Login on you29</h1></div>
  <!-- form -->
  <form action="." method="POST">
    {% if form.non_field_errors %}
      <p class="errorlist">{% trans "Your username and password didn't match. Please try again." %}</p>
    {% endif %}
    <table>
    {% for field in form %}
      <tr class="form-field">
        <td class="form-field-label">{{ field.label_tag }}:</td>
        <td class="form-field-value">
          {{ field.errors }}
          {{field}}
        </td>
      </tr>
    {% endfor %}
      <tr class="form-field">
        <td class="form-field-label"></td>
        <td class="form-field-value">
          <a href="/accounts/password_reset/">{% trans "Forgot your password?"%}</a><br/>
        </td>
      </tr>
      <tr class="form-submit">
        <td class="form-submit-label"></td>
        <td class="form-submit-value">
          <input type="submit" value="{% trans "Login"%}" />
        </td>
      </tr>
    </table>
    <input type="hidden" name="next" value="{{next}}" />
  </form>
    <!-- end of form -->
  </div>
{% endblock %}
