{% if bookmarks %}
  <ul class="bookmarks">
    {% for bookmark in bookmarks %}
      <li class="bookmark">
        <h2 class="title" style="display:inline;"><a href="{{bookmark.link.url}}" class="title">{{bookmark.title}}</a></h2>
        <span class="detail">
          - <a href="{{bookmark.link.url}}" class="url">{{bookmark.link.url}}</a>
          - {{bookmark.date|date:"d M Y"}}
          - <a href="/bookmarks/edit?id={{bookmark.id}}" class="edit command">edit</a>
          - <a href="/bookmarks/delete?id={{bookmark.id}}" class="remove command">remove</a>
        </span>
        {% if bookmark.tags.all %}
          <div class="tags">
            [TAG]
            {% for tag in bookmark.tags.all %}
              <a class="tag" href="/bookmarks/user/{{bookmark.user.username}}/{{tag.name}}/">{{tag.name}}</a>
              {% if not forloop.last %}|{% endif%}
            {% endfor %}
          </div>
        {% endif %}
        {% if bookmark.notes %}
        <div class="notes">{{bookmark.notes}}</div>
        {% endif %}
      </li>
    {% endfor %} 
{% else %}
  <p>No bookmarks found.</p>
{% endif %}
