{% if bookmarks %}
  <ul class="bookmarks">
    {% for bookmark in bookmarks %}
      <li class="bookmark">
        <h2 class="title" style="display:inline;"><a href="{{bookmark.link.url}}" class="title">{{bookmark.title}}</a></h2>
        <span class="{% if bookmark.is_popular %}count-popular{%else%}count{%endif%}">&nbsp;{{bookmark.link.bookmark_set.count}}&nbsp;users&nbsp;</span>
        <div class="detail">
          <a href="{{bookmark.link.url}}" class="url">{{bookmark.link.url}}</a>
          - {{bookmark.date|date:"F j, Y"}}
          {% if show_edit %}
            - <a href="/bookmarks/edit/{{bookmark.id}}/" class="edit command">edit</a>
          {% endif %}
          {% if show_delete %}
            - <a href="/bookmarks/delete/{{bookmark.id}}/" class="delete command">delete</a>
          {% endif %}
        </div>
        {% if bookmark.tags.all %}
          <div class="tags">
            Tags: 
            {% for tag in bookmark.tags.all %}
              {#<a class="tag" href="/bookmarks/user/{{bookmark.user.username}}/{{tag.name}}/">{{tag.name}}</a> #}
              {{tag.name}}
              {% if not forloop.last %}|{% endif%}
            {% endfor %}
          </div>
        {% endif %}
        {% if bookmark.notes %}
        <div class="notes">{{bookmark.notes}}</div>
        {% endif %}
      </li>
    {% endfor %} 
{% else %}
  <p>No bookmarks found.</p>
{% endif %}
