{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>
      {% trans "you29.Bookmarks:" %}
      {% ifequal page_type 'public' %}
        {% trans "Everyone's Shared Bookmarks" %}
      {% else %}
        {% if is_owner %}{{username}}{% trans "'s Bookmarks"%}{% else %}{{username}}{% trans "'s Shared Bookmarks" %}{% endif %}
      {% endifequal %}
    </title>
    <link rel="shortcut icon" href="/site_media/images/favicon.ico"> 
    <link rel="stylesheet" type="text/css" href="/site_media/yui/reset-fonts-grids/reset-fonts-grids.css">
    <link rel="stylesheet" type="text/css" href="/site_media/css/bookmarks.css">
  </head>
  <body>
    <!-- #doc = 750px; #doc2 = 950px; #doc3 = 100%; #doc4 = 974px -->
    <!-- .yui-t1 = left  160px; .yui-t2 = left  180px; .yui-t3 = left  300px; -->
    <!-- .yui-t4 = right 180px; .yui-t5 = right 240px; .yui-t6 = right 300px; -->

    <!-- container #doc3 = 100%; .yui-t1 = left 160px;  -->
    <div id="doc3" class="yui-t2 doc">
      <!-- header div#hd -->
      <div id="hd">
        <!-- branding -->
        <div id="branding">
          <a href="/bookmarks/">
          <img id="logo-img" src="/site_media/images/you29-bookmarks-white-logo.png"/>
          </a>
        </div>
        {% include "bookmarks/user_menu.html" %}
        <h1 id="title">
          {% ifequal page_type 'public' %}
            <a href="/bookmarks/public/">{% trans "Everyone's Shared Bookmarks" %}</a>
          {% else %}
            <a href="/bookmarks/user/{{username}}/">
              {% if is_owner %}
                {{username}}{% trans "'s Bookmarks"%}
              {% else %}
                {{username}}{% trans "'s Shared Bookmarks" %}
              {% endif %}
            </a>
          {% endifequal %}
        </h1>
      </div>
      <!-- end of header div#hd -->

      <!-- content div#bd -->
      <div id="bd">
        <!-- div.yui-main -->
        <div id="yui-main">
          <div class="yui-b main-content">
            <!-- bookmark list -->
            {% ifequal page_type 'public' %}
                {% include "bookmarks/link_list.html"%}
            {% else %}
                {% include "bookmarks/bookmark_list.html"%}
            {% endifequal %}
            <!-- end of bookmark list -->

            <br/><br/>

            <!-- bookmarklet -->
            <center>{% include "bookmarks/bookmarklet.html" %}</center>
            <!-- end of bookmarklet -->

          </div>
        </div>
        <!-- end of div.yui-main -->

        <!-- nav div.yui-b -->
        <div id="nav" class="yui-b">
          {% include "bookmarks/tag_clouds.html" %}
        </div>
        <!-- end of div.yui-b -->
      </div>
      <!-- end of content div#bd --> 

      <!-- footer div#ft footer -->
      <div id="ft">
        <br/>
        {%include "bookmarks/footer.html"%}
      </div>
      <!-- end of footer div#ft -->
    </div>
    <!-- end of container -->
  </body>
</html>
