{% load i18n %}

<div id="link-info">
    <label class="link-label">{% trans "Everyone's bookmarks for:"%}</label>
    <a href="{{link.url}}" class="link-title">{{link.title}}</a>
    <a href="{{link.url}}" class="link-url">{{link.url}}</a>
</div>

<ul class="bookmarks">
  {% for bookmark in bookmarks %}
    <li class="bookmark">
      <a href="/bookmarks/user/{{bookmark.user.username}}/" class="user">{{bookmark.user.username}}</a>
      bookmarked this page
      <span class="date">{{bookmark.date|date:"M d Y"}}</span>
      {% if bookmark.tags.all %}
        -
        <span class="tags">
          <img class="tag-image" src="/site_media/images/tag_orange_16x16.png"/>
          {% for tag in bookmark.tags.all %}
            <a class="tag" href="/bookmarks/user/{{bookmark.user.username}}/{{tag.name}}/">{{tag.name}}</a>{% if not forloop.last %},{% endif%}
          {% endfor %}
        </span>
      {% endif %}
      {% if bookmark.notes %}
        <div class="note">
          {{bookmark.notes|linebreaksbr}}
        </div>
      {% endif %}
    </li>
  {% endfor %} 
</ul>
