{% load i18n %}
{% load common_filters %}
{% if links %}
  <ul class="bookmarks">
    {% for link in links %}
      <li class="bookmark">
        <a href="{{link.url}}" class="title" target="_blank"><h2 class="title" style="display:inline;">{{link.title}}</h2></a>
        <span class="{% if link.is_popular %}count-popular{%else%}count{%endif%}">{{link.user_count}}&nbsp;{% trans "users" %}</span>
        <div class="detail">
          <a href="{{link.url}}" class="url">{{link.url}}</a>
        </div>
        {% if link.get_tags %}
          <div class="tags">
            {# trans "Tags:" #} 
            <img class="tag-image" src="/site_media/images/tag.jpg"/>
            {% for tag in link.get_tags %}
              <a class="tag" href="/bookmarks/public/{{tag.name}}/">{{tag.name}}</a>
              {% if not forloop.last %}|{% endif%}
            {% endfor %}
          </div>
        {% endif %}
        {% for b in link.bookmark_set.all %}
          <div class="notes">
            {% if b.share %}
              {% if b.notes %}
                <div class="note">
                    <img class="note-image" src="/site_media/images/note.png"/>
                    <a href="/bookmarks/user/{{b.user.username}}">{{b.user.username}}</a>
                    &nbsp;({{b.date|date:"m.d.Y"}})
                    &nbsp;{{b.notes|truncate_chars:100}}
                </div>
              {% endif %}
            {% endif %}
          </div>
        {% endfor %}
      </li>
    {% endfor %} 
  </li>
{% endif %}
