{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Save a Bookmark on you29" %}{% endblock %}
{% block head %}{% trans "Save a new Bookmark" %}{% endblock %}
{% block external %}
<style>
#id_url{width:350px;}
</style>
{% endblock %}
{% block content %}
<form id="save-form" method="post" action="/bookmarks/add/">
  <talbe>
    {{form.as_table}}
  </talbe>
  <br/>
  <input type="submit" value="Next" id="next_button">
  <a href="/bookmarks/" id="cancel_button">Cancel</a>
</form>

<script type="text/javascript">
    YAHOO.util.Event.onDOMReady(function(){
      new YAHOO.widget.Button("next_button");
      new YAHOO.widget.Button("cancel_button");
    });
</script>

{% endblock %}
