{% extends "base_type1.html" %}
{% load i18n %}
{% block title %}{% trans "Save Bookmark" %}{% endblock %}
{% block content %}
  <div id="content-head"><h1>{% trans "Save a new bookmark" %}</h1></div>
  <!--bookmark save form -->
  <form id="save-form" method="post" action="{{script_name}}/bookmarks/save/">
    <table>
      {% for field in form %}
      <tr class="form-field">
        <td class="form-field-label">{{ field.label_tag }}:</td>
        <td class="form-field-value">
          {{ field.errors }}
          {{field}}
        </td>
      </tr>
      {% endfor %}
      <tr class="form-submit">
        <td class="form-submit-label"></td>
        <td class="form-submit-value">
          <input id="save_button" type="submit" value='{% trans "Save"%}'/>
        </td>
      </tr>
    </table>
  </form>
{% endblock %}

