{% load i18n %}
{# if tags #}
<div class="tag-clouds">
  <h2 class="">{% trans "Related Tags" %}</h2>
    <ul>
      {% for tag in tags %}
        <li>
          <img class="tag-image" src="/site_media/images/tag_orange_16x16.png"/>
          {% ifequal page_type 'public' %}
            <a class="tag" href="/bookmarks/public/{{tag.name}}/">{{tag.name}}  ({{tag.count}})</a>
          {% endifequal %}
          {% ifequal page_type 'link' %}
            <a class="tag" href="/bookmarks/public/{{tag.name}}/">{{tag.name}}  ({{tag.count}})</a>
          {% endifequal %}
          {% ifequal page_type 'user' %}
            {% if tag_browse %}
              <a class="tag" href="{{tag.name}}/">+{{tag.name}}  ({{tag.count}})</a>
            {% else %}
              <a class="tag" href="/bookmarks/user/{{username}}/{{tag.name}}/">{{tag.name}}  ({{tag.count}})</a>
            {% endif %}
          {% endifequal %}
          {% ifequal page_type 'search' %}
            {% if tag_browse %}
              <a class="tag" href="{{tag.name}}/">+{{tag.name}}  ({{tag.count}})</a>
            {% else %}
              <a class="tag" href="/bookmarks/user/{{username}}/{{tag.name}}/">{{tag.name}}  ({{tag.count}})</a>
            {% endif %}
          {% endifequal %}
        </li>
     {% endfor %}
  </ul>
</div>
{# endif #}
